<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{friend.name}}">
    <ion-nav-title>
      <img src="img/selly-logo-sm.png">
    </ion-nav-title>
  <ion-content class="splash padding">
    <div class="add-friend-holder">
      <img src="img/add-friend-icon.png">
      <h3>Add a Friend</h3>
      <p class="padding">Let's add your friends in Sellly! Just type the email of your trusted friend in the box below!</p>
    </div>
    <div class="list card ">

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="mytruefriend@somemail.com" ng-model="friend.email">
        </label>
      </div>
    <div class="padding">
    <button class="button button-balanced button-block" ng-click="addfriend()">
      Add!
    </button>
    </div>
    </div>


  </ion-content>
</ion-view>
