<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->


<ion-view view-title="{{friend.name}}">
    <ion-nav-title>
      <img src="img/selly-logo-sm.png">
    </ion-nav-title>
  <ion-content class="splash padding">
    <div class="chat-user-img-holder">
        <img ng-src="{{friend.face}}" class="avatar">
        <h4>{{friend.name}}</h4>
    </div>

    <div class="add-friend-holder card">
      <div class="row chat-sender padding">
        <div class="col col-30 chat-user ">
            <img class="avatar" ng-src="{{friend.face}}">
        </div>
        <div class="col col-67  chat-message">.col.col-75</div>
      </div>


      <div class="row chat-receiver padding">
        <div class="col col-67 col-offset-10 chat-message">.col.col-75</div>
        <div class="col col-30 chat-user ">
            <img class="avatar" src="img/user.png">
        </div>
      </div>

    </div>


  </ion-content>
  <div class="bar bar-footer item-input-inset">
  <label class="item-input-wrapper">
    
    <input type="text" placeholder="Say Something">
  </label>
  <button class="button button-balanced">
    Send
  </button>
</div>
</ion-view>
