<div class="modal transparent">
	  <!--scrollbar-x="false"  scrollbar-y="false"  overflow-scroll="false" -->
	<!--	<button type="button" class="button icon-right button-clear button-balanced ion-close pull-right"  style="position: fixed;right: 0;z-index:100;" ng-click="closeModal()"></button>-->
	<ion-header-bar align-title="left" class="balanced">
	 <h1 class="title">Forward {{item.title}} To:</h1>
		  <div class="buttons">
			<button class="button button-clear button-balanced ion-close" ng-click="closeModal()"></button>
		  </div>
	</ion-header-bar>
	<ion-content class="has-header has-footer">
	
	<ion-list>
		<!--
		<ion-checkbox class="checkbox-balanced" ng-model="f.invited" ng-disabled="true" ng-repeat="f in friends" ng-if="f.invited == true">{{f.firstname}}</ion-checkbox>-->
		<ion-checkbox class="checkbox-balanced" ng-model="f.isChecked" ng-repeat="f in friends" ng-if="!f.invited">{{f.firstname}}</ion-checkbox>
		<ion-checkbox style="opacity:0.7" ng-disabled="true"  class="checkbox-dark" ng-model="f.invited" ng-repeat="f in friends" ng-if="f.invited">{{f.firstname}}</ion-checkbox>
	  
	</ion-list>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-balanced">
  <div class="button-bar">
  <a class="button icon-left ion-chevron-left" ng-click="closeModal()">Back</a>
  <a class="button icon-right ion-forward" ng-click="forward(item.referralid)">Confirm</a>
</div>
</ion-footer-bar>
    
</div>