<ion-view view-title="Friend Requests">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right  item-buttons-right" ng-repeat="friend in friends" type="item-text-wrap">
        <img ng-src="http://selly.1000laurel.com/uploads/{{friend.image}}" style="width: 64px; height: 64px">
        <h2>{{friend.firstname}}</h2>
		    <h2>{{friend.email}}</h2>
	  <!--<p>Request 2 days ago</p>-->

         <button class="button icon-left button-balanced" ng-click="accept($index)">Accept</button>

         <button class="button icon-left button-assertive" ng-click="remove($index)">Remove</button>

<!--          <button class="button button-small button-assertive button-balanced fr-buttons">
           <i class="icon ion-checkmark-round"></i>
           Confirm
         </button>

         <button class="button button-smallbutton-assertive button-assertive fr-buttons">
           <i class="icon ion-ios-trash"></i>
           Delete
         </button> -->
<!--         <ion-option-button class="button" ng-click="remove(friend)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
