<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{friend.name}}">
  <ion-content class="padding">
    <div class="user-controller">
      <img ng-src="{{friend.face}}" style="width: 64px; height: 64px">
      <h4>{{friend.name}}</h4>
    </div>
    <ion-list>
      <ion-item ng-repeat="product in friend.products">
        <h2>{{product.id}}</h2>
        <h2>{{product.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
