<style>
::-webkit-scrollbar { 
    display: none; 
}
#item-desc{
	text-align: left;
	padding:0;
}
#item-desc h2{
text-align: left;
}
</style>
<div class="modal transparent fullscreen-player" style="background-color: rgba(0,0,0,1);">
	<ion-view>  <!--scrollbar-x="false"  scrollbar-y="false"  overflow-scroll="false" -->
		<button type="button" class="button icon-right button-clear button-balanced ion-close pull-right"  style="position: fixed;right: 0;z-index:100;" ng-click="closeModal2()"></button>
	
	<ion-content>
	<div style="background-image:url('http://selly.1000laurel.com/uploads/{{item.pics[0]}}'); width:100%; padding: 50% 0;background-size: cover; background-position:center;">
	</div>
	<div id="item-desc">
		<div style="padding: 10px; background-color: rgba(0,0,0,0.8)">
			<h2 style="color:white" ng-bind="item.title"></h2>
			<p  style="color:rgba(255,255,255,0.8); margin:0;" ng-bind="item.description"></p>
		</div>
		<div style="padding:10px">
			<p>Price: <span ng-bind="item.price"></span></p>
			<p>Meetup: <span ng-bind="item.meetup"></span></p>
			<p>Invite Left: <span ng-bind="item.invitesleft"></span></p>
			<p>Qwoins Rewards: <span ng-bind="item.qwoins"></span></p>
		</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-balanced">
  <div class="button-bar">
  <a class="button icon-left ion-reply">Send Back</a>
  <a class="button">Buy</a>
  <a class="button icon-right ion-forward" ng-click="chooseFriends(item._id)">Forward</a>
</div>
</ion-footer-bar>
    </ion-view>
</div>