<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <div class="header-icon">
          <a menu-toggle="right"><img class="avatar" src="img/user.png"></a>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
      <ion-list>
        <ion-item menu-close href="#/tab/add-friend">
          Add Friends
        </ion-item>
        <ion-item menu-close href="#/tab/friend-requests">
          Friend Requests
        </ion-item>
        <ion-item menu-close href="#/tab/chats">
          Chats
        </ion-item>
        <ion-item menu-close href="#/tab/dash">
          Items
        </ion-item>
        <ion-item menu-close href="#/login.html">
          Logout
        </ion-item>
      </ion-list>
  </ion-side-menu>

  <ion-side-menu side="right">
        <div>
            <img class="avatar" ng-src="http://selly.1000laurel.com/uploads/{{user.image}}">
        </div>
      <ion-list class="list">
        <ion-item class="item item-icon-left"  menu-close>
        <i class="icon ion-email"></i>
          {{user.email}}
        </ion-item>
        <ion-item class="item item-icon-left"  menu-close href="#/tab/dash">
        <i class="icon ion-person"></i>
          {{user.firstname}}
        </ion-item>
        <ion-item class="item item-icon-left"  menu-close href="#/tab/account">
        <i class="icon ion-android-notifications"></i>
          Notification
          <span class="badge badge-assertive">0</span>
        </ion-item>
        <ion-item class="item item-icon-left"  menu-close>
          <i class="icon ion-person-stalker"></i>
          Qwoins
          <span class="badge badge-assertive">100</span>
        </ion-item>
		<!--
        <ion-item class="item item-icon-left"  menu-close href="#/tab/friends">
        <i class="icon ion-android-settings"></i>
          Settings
        </ion-item>
		-->
        <ion-item class="item item-icon-left"  menu-close href="#/tab/friends">
        <i class="icon ion-ios-help"></i>
          Help
        </ion-item>

      </ion-list>
  </ion-side-menu>


</ion-side-menus>
