<ion-view view-title="Payment" >

    <ion-nav-title>
      <img src="img/selly-logo-sm.png">
    </ion-nav-title>

  <ion-content class="splash padding" id="payment-form">
    <h3 class="">Payment</h3>
    <div class="pay-cards">
    <img src="img/payment-cards.png">
    </div>
    <div class="list card">


<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Name on Card</span>
    <input type="text" placeholder="Juan Dela Cruz">
  </label>

  <label class="item item-input item-stacked-label">

    <span class="input-label">Credit Card Number</span>

    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
	  <span class="input-label">Expiry Month</span>
    <input type="text" placeholder="September">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Expiry Year</span>
    <input type="number" placeholder="2017">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">CVV</span>
    <input type="password" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Address</span>
    <input type="text" placeholder="Somewhere">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">City</span>
    <input type="text" placeholder="Somewhere">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">State</span>
    <input type="text" placeholder="Somewhere">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Zip</span>
    <input type="text" placeholder="Somewhere">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Country</span>
    <input type="text" placeholder="Somewhere">
  </label>

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Origin</span>
    <input type="text" placeholder="Quezon City">
  </label>
</div>
<div class="padding">
<button class="button button-balanced button-block">
  Submit
</button>
</div>
    </div>


  </ion-content>

</ion-view>