<ion-view view-title="Dashboard" ng-init="init()">
    <ion-nav-title>
      <img src="img/selly-logo-sm.png">
    </ion-nav-title>

  <ion-content class="splash padding has-header">
  <!--<button ng-click="login()" style="position:fixed; z-index:100; top: 200px; padding: 30px;">LOGIN ME</button>-->
    <!--<ion-gallery ion-gallery-items="items" ion-gallery-row="2"></ion-gallery>-->
  <div ng-click="showModal(i)" ng-repeat="i in items2" class="jio-item" style="background-image:url('http://selly.1000laurel.com/uploads/{{i.pics[0]}}'">
    <div class="descr">
      <strong><p style="padding:0; margin:0" ng-bind="i.title"></p></strong>
    </div>

  </div>

  </ion-content>
  <div style=" position: absolute;
    bottom: 0px;
    width:100%;
    height: 40px;
    margin: auto;
    text-align: center;">
   <button class="button button-royal" ng-click="gopost()">Post an item</button>
  </div>
<!--
  <ion-tabs class="tabs-stable tabs-icon-top">

  <ion-tab title="Add Item" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tab.upload">

  </ion-tab>

  <ion-tab title="Friends" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">

  </ion-tab>

  <ion-tab title="Explore" icon-on="ion-ios-search" icon-off="ion-ios-search-strong">
 
  </ion-tab>

</ion-tabs>
-->
</ion-view>
