<!--<ion-view view-title="Login" hide-nav-bar="true">-->
  <ion-content class="padding" id="loginform">
    <div class="logo-container">
      <img src="img/selly-logo.png" class="logo-holder">
    </div>
    <div class="list list-inset">
        <label class="item item-input">
            <input id="email" type="text" placeholder="E-mail">
            <span id="emailerror"></span>
        </label>
        <label class="item item-input">
            <input id="password" type="password" placeholder="Password">
            <span id="passworderror"></span>
        </label>
    </div>
    <button class="button button-outline button-block button-light" onclick="executeLogin(event)">Login</button>
  </ion-content>
<!--</ion-view>-->

