<ion-view view-title="Upload" >

    <ion-nav-title>
      <img src="img/selly-logo-sm.png">
    </ion-nav-title>

  <ion-content class="splash padding">
    <div class="list card ">

      <div id="imageprev" ng-show="cropper.croppedImage!=null" class="item item-image" style="background-image:url('{{cropper.croppedImage}}')" >
        <!--<img ng-show="cropper.croppedImage!=null" ng-src="{{cropper.croppedImage}}" />-->
        <!--<img  ng-show="cropper.croppedImage==null" src="img/upload.png">-->
      </div>

      <div id="imageprev" ng-show="cropper.croppedImage==null"  class="item item-image" style="background-image:url('img/upload.png')" >
        <!--<img ng-show="cropper.croppedImage!=null" ng-src="{{cropper.croppedImage}}" />-->
        <!--<img  ng-show="cropper.croppedImage==null" src="img/upload.png">-->
      </div>

      <input id="fileuploader" type="file" img-cropper-fileread image="cropper.sourceImage" />
        <div>
             <canvas style="display:none" show-controls="false" width="500" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
        </div>

      <!--<a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-plus-empty"></i>
        Upload an Item
      </a>-->

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Title</span>
    <input type="text" placeholder="Amazing item" ng-model="myitem.title">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Price</span>
    <input type="number" placeholder="3.00" ng-model="myitem.price">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Details</span>
    <input type="text" placeholder="Some Shoes"  ng-model="myitem.description">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Origin</span>
    <input type="text" placeholder="Manila City"  ng-model="myitem.origin">
  </label>
  <div class="item item-toggle">
     Accepts Meetups
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="item.meetup">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </div>
  <div class="item range range-positive" >
    <span class="input-label">Reward: {{myitem.qwoins}}qw</span>

    <i class="icon ion-minus"></i>
    <input type="range" name="volume" min="0" max="100" ng-model="myitem.qwoins">
    <i class="icon ion-plus"></i>
  </div>

</div>
<div class="padding item">
<button class="button button-balanced button-block" type="submit" ng-click="upload()">
  Submit
</button>
</div>
    </div>


  </ion-content>

</ion-view>
