<ion-view view-title="Upload an Item" >

    <ion-nav-title>
      <img src="img/selly-logo-sm.png">
    </ion-nav-title>

  <ion-content class="splash padding">
    <div class="list card">

      <div class="item">
        <h2>Shoes out of nowhere</h2>
        <p>Added October 2, 2016</p>
      </div>

      <div class="item item-image">
        <img src="img/shoes.jpg">
      </div>  

      <label class="item item-input item-floating-label">
        <span class="input-label">Add Description</span>
        <textarea placeholder="Add Description"></textarea>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Add more Invite</span>
        <input type="text" placeholder="Add more Invite">
      </label>


      <div class="padding">
        <button class="button button-block button-positive">Submit</button>
      </div>


    </div>
  </ion-content>


  </ion-tabs>
</ion-view>