/* Empty. Add your own CSS if you like */

/*body{
	font-family: "Open Sans",
}*/
/*.logo-holder{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
*/
/*.brand-container{
	text-align: center;
}*/

body, ion-view.pane{
	background: url('../img/geometry.png');
}
.brand-container {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
	text-align: center;
}

.brand-container h3{
  font-weight: 300;
  text-align: center;
  letter-spacing: -1px;
  color: #333333;
  margin-top: 5px;
  margin-bottom: 20px;
}

ion-header-bar.bar-header{
	background: #ffffff !important;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.03);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.03);
}

.bar.bar-stable .title{
	color: #000000;
}

/*ion-content h2{
	text-align: center;
}
*/

.imageView .close-btn{
	font-weight: 300 !important		;
}

.header-icon{
  background: #ffffff;
}

.header-icon .avatar{
  height: 32px;
  width: 32px;
  border-radius:50%;
}

.nav-bar-title img{
	width: auto;
    height: 32px;
    margin-top: 5px;
}


ion-side-menu > div{
	text-align: center;

}
ion-side-menu img{
	text-align: center;
	border-radius: 50%;
	padding: 20px;
    width: 150px;
    height: 150px;
}


.add-friend-holder{
	text-align: center;
}

.add-friend-holder h3{
	font-weight: 300;
	margin-top: 0px
}

.chat-user-img-holder {
	text-align: center;
}

.chat-user-img-holder h4{
	font-weight: 300;
}

.chat-user-img-holder .avatar{
  height: 48px;
  width: 48px;
  border-radius:50%;
}


.chat-user .avatar{
  height: 32px;
  width: 32px;
  border-radius:50%;
}

.chat-receiver, .chat-sender{
	margin-top: 10px;
	margin-bottom: 10px;
}
.chat-sender .chat-message {
	background: #008d3c;
	border-radius: 5px;
	color: #ffffff;
	/*0fb455*/
}

.chat-receiver .chat-message {
	background: #0fb455;
	border-radius: 5px;
	color: #ffffff;
	/*0fb455*/
}

.fr-buttons{
	margin-top: 10px;
}

.jio-item{
	width: 49%;
	padding: 25% 0;
	margin: 0.5%;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	position: relative;
}
.jio-item > .descr{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;
	bottom: 0;
	width: 100%;
	padding:5px;
}

#loginform .logo-container	{
	text-align: center;
}

#loginform { 
	background-color: #00bc7a;
	padding-top: 50px;
}

#payment-form h3, #payment-form .pay-cards{
	text-align: center;
}


#fileuploader{
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 230px;
	background-color: red;
	opacity: 0;
}

#imageprev{
	width:100%;
	height: 230px;
	background-size: cover;
	background-position: center;
}

	.jio-item{
		width: 49%;
		padding: 25% 0;
		margin: 0.5%;
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		position: relative;
	}
	.jio-item > .descr{
		position: absolute;
		background-color: rgba(0,0,0,0.5);
		color: white;
		bottom: 0;
		width: 100%;
		padding:5px;
	}